.PhoneInputInput {
    background-color: #e5e7eb;
    padding: 0.5rem;
    border-radius: 0.25rem;
    
}

.PhoneInputInput:focus {
    outline: none;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }